client_id = "8fb2e7897e265266760f009b48267745"
name = "onShopfront sync"
application_url = "https://on-shopfront-sync.vercel.app"  # ✅ 更新
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-01"

[[webhooks.subscriptions]]
topics = [ "app/uninstalled" ]
uri = "/webhooks/app/uninstalled"

[[webhooks.subscriptions]]
topics = [ "app/scopes_update" ]
uri = "/webhooks/app/scopes_update"

[access_scopes]
scopes = "write_products"

[auth]
redirect_urls = [ "https://on-shopfront-sync.vercel.app/api/auth" ]  # ✅ 更新